<figure class="appearance">
  <img class="appearance__image" src="assets/img/bulbizarre.jpg" alt="Bulbizarre" />

  <figcaption class="appearance__details">Pokémon Graine. Taille : 0,7m, poids: 6,9 kg</figcaption>
</figure>
