<section class="attack">
  <div class="attack__cost">
    <img src="assets/img/leaf.png" />
    <img src="assets/img/leaf.png" />
  </div>
  <div class="attack__description">
    <span class="attack__name">Vampigraine</span>
    <span class="attack__details">À moins que tous les dégats infligés par cette attaque ne soient prévenus, vous pouvez retirer 1 marqueur de dégats de Bulbizarre.</span>
  </div>
  <div class="attack__damage">20</div>
</section>