<header class="identity">
  <div>
    <p class="identity__evolution">Pokémon de base</p>
    <h1 class="identity__name">Bulbizarre</h1>
  </div>
  <div>
    <span class="identity__life">40 PV</span>
    <img class="identity__type" src="assets/img/leaf.png" alt="Type feuille" />
  </div>
</header>
