<section class="types">
  <div>
    <p class="types__label">Faiblesse</p>
    <img src="assets/img/fire.png" alt="Feu" />
  </div>
  <div>
    <p class="types__label">Résistance</p>
  </div>
  <div>
    <div class="types__label">Coût de retraite</div>
    <img src="assets/img/normal.png" alt="Normal" />
  </div>
</section>