* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  overflow: hidden;
}

img {
  max-width: 100%;
}

body {
  background-color: yellowgreen;
  border: 12px solid;
  border-image: var(--gradient) 12;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana;

  @include landscape {
    justify-content: center;
  }
}
