<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles/style.scss" />
    <title>Bulbizarre</title>
  </head>
  <body>
    <div class="pokemon">
      <div class="pokemon__part">
        include includes/identity.pug
        include includes/appearance.pug
      </div>

      <div class="pokemon__part">
        include includes/attack.pug
        include includes/types.pug
        include includes/pokedex.pug
      </div>
    </div>
  </body>
</html>
