.appearance {
  @include landscape {
    order: -1;
  }
}

.appearance__image {
  border: 5px solid;
  border-image: var(--gradient) 5;
  margin: 4px 16px;

  img {
    display: block;
  }
}

.appearance__details {
  background: var(--gradient);
  font-size: 10px;
  text-align: center;
  margin: 0 25px;
  font-style: italic;
  line-height: 16px;

  @include landscape {
    margin: 2px 16px 0;
  }
}
