.pokedex {
  font-size: 10px;
  margin: 2px 10px 10px;
  padding: 2px 5px;
  border: 2px solid;
  border-image: var(--gradient) 2;
  font-style: italic;

  @include landscape {
    margin-bottom: 0;
  }
}
